# Binários
wuzapi
*.exe
*.dll

# Logs
logs/
*.log

# Ambiente
.env

# Docker volumes
postgres_data/
rabbitmq_data/
n8n_data/
portainer_data/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Outros
nginx/
static/docs/
exemple.json
n8n-wuzapi-chatwoot-workflow.json
